extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg",alt="Img nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Mauris vel tortor efficitur urna vestibulum hendrerit. Mauris suscipit dapibus ligula nec ultricies. Aliquam et laoreet nibh, sed consequat est. Nullam finibus nulla elit, condimentum tincidunt diam lobortis eget. Fusce dignissim quam eget libero suscipit, in tristique libero suscipit. 
                p Quisque ultricies orci nec ligula auctor, in rutrum neque pharetra. In rhoncus quam dapibus tortor varius, vel fringilla metus consectetur. Nullam consectetur sem enim. In hac habitasse platea dictumst. 
                p Phasellus maximus nibh et nulla facilisis, non scelerisque arcu viverra. Nunc eget cursus dui, ut porttitor erat. Praesent ultricies, felis vel rutrum convallis, erat mi efficitur lacus, interdum efficitur neque ex id lacus. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nulla malesuada mi id condimentum pharetra. Donec non pretium nisl, accumsan faucibus risus. Sed ac massa rutrum felis volutpat dictum quis auctor ipsum. 
                .col-md-4
                    img(src="img/icono_destinos.svg",class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nulla malesuada mi id condimentum pharetra. Donec non pretium nisl, accumsan faucibus risus. Sed ac massa rutrum felis volutpat dictum quis auctor ipsum. 
                .col-md-4
                    img(src="img/icono_precios.svg",class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Nulla malesuada mi id condimentum pharetra. Donec non pretium nisl, accumsan faucibus risus. Sed ac massa rutrum felis volutpat dictum quis auctor ipsum. 